@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif !important;
    color: #2b2b33 !important;
    background: rgb(245, 245, 245) !important;
}

h1, h2 {
    font-weight: 600;
}

.list-user {
    border-left: 2px solid #1890ff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    -webkit-box-shadow: 1px 2px 7px 1px rgb(0 0 0 / 15%); 
    box-shadow: 1px 2px 7px 1px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.list-user:hover {
    border-left: 2px solid yellowgreen;
    -webkit-box-shadow: 1px 2px 7px 1px rgb(0 0 0 / 25%); 
    box-shadow: 1px 2px 7px 1px rgb(0 0 0 / 25%);
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ant-form-vertical .ant-form-item-label{
    padding: 0px !important;
}

.pick-avatar {
    width: 65px;
    border-radius: 50%;
}